<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">


    <title>Animation Player</title>
</head>
<body>
<header>
    <div class="header">CodeJam - Animation Player</div>
</header>

<div class="container">
    <div class="tools">
        <div class="penSize">
            <button id="size1" onclick="change_size(1)"/>
            <button id="size2" onclick="change_size(2)"/>
            <button id="size3" onclick="change_size(3)"/>
        </div>
        <button id="draw" onclick="use_tool('draw',this)">pen</button>
        <button id="erase" onclick="use_tool('erase',this)">erase</button>
        <button id="move" onclick="use_tool('move',this)">move</button>
        <button id="line" onclick="use_tool('line',this)">line</button>
        <button id="bucket" onclick="use_tool('bucket',this)">bucket</button>
        <button id="invert" onclick="use_tool('invert',this)">invert</button>
        <button id="lighten" onclick="use_tool('lighten',this)">lighten</button>
        <button id="darken" onclick="use_tool('darken',this)">darken</button>
        <button id="rectangle" onclick="use_tool('rectangle',this)">rect</button>

        <button id="red" onclick="choose_color('rgb(255,0,0,255)')"/>
        <button id="green" onclick="choose_color('rgb(0,255,0,255)')"/>
        <button id="run" onclick="run()">Play</button>
        <button id="stop" onclick="stop()">Stop</button>
    </div>
    <div class="frames">
        <div id="root"></div>
        <button id="add" onclick="adding()">Add new frame</button>
    </div>

    <div id="editorWithHelpCanvas">
        <div id="editor">
        </div>
        <div class="canvasInfo">
            <span id="coordinates"></span>
            <span id="size"></span>
        </div>

        <div class="canvasSize">
            <button  id="size32" onclick="change_sizeCanvas(32,this)">32x32</button>
            <button  id="size64" onclick="change_sizeCanvas(64,this)">64x64</button>
            <button  id="size128" onclick="change_sizeCanvas(128,this)">128x128</button>
        </div>

    </div>

    <div class="animation">
        <div id="player"></div>
        <input type="range" id="fps" oninput="sizeFps()" min="0" max="30" step="1" value="15">
        <p id="fpsAmount"/>
    </div>
</div>
<script src="index.js"></script>


</body>
</html>
