<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">

    <title>Animation Player</title>
</head>
<body>
<header>
    <div class="header">CodeJam - Animation Player</div>
</header>
<div class="palette">
    <button class="bucket" id="bucket">
        <span class="bucketImg"></span>Paint bucket
    </button>
    <button class="picker" id="picker">
        <span class="pickerImg"></span>Choose color
    </button>
    <button class="move" id="move">
        <span class="moveImg"></span>Move
    </button>
    <button class="transform" id="transform">
        <span class="transformImg"></span>Transform
    </button>
</div>

<div class="container">
    <div id="root"></div>
    <button id="add" onclick="adding()">Add new frame</button>
</div>
<div id="editor"></div>
<div id="player"></div>
<input type="range" id="fps" oninput="sizeFps()" min="0" max="30" step="1" value="15">

<button id="run" onclick="run()">Play</button>
<button id="stop" onclick="stop()">Stop</button>
<button id="draw" onclick="use_tool('draw')">draw</button>
<button id="erase" onclick="use_tool('erase')">erase</button>
<script src="index.js"></script>
</body>
</html>
